@page "/Users/Register"
@model RegisterModel
@{
    var image = "/images/user_icon.png";
}*
<div class="container p-4">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card text-center">
                    <div class="card-header embed-responsive">
                        <output id="imageUser">
                            <img src=@image class="embed-responsive imageUser" />
                        </output>
                    </div>
                    <div class="card-body">
                        <div class="caption text-center">
                            <label class="btn btn-primary" for="files">Cargar foto</label>
                            <input asp-for="MODEL_USUARIO.AvatarImage" accept="image/*" type="file" id="files">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-5">
                <div class="panel  panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Registro de Usuarios</h3>
                    </div>
                    <div class="panel-body">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <div id="header" class="bg-info">
                                        <h2 class="mb-0 t">
                                            <button class="btn btn-link text-light " type="button" data-toggle="collapse"
                                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Ingreso de Información
                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <input asp-for="MODEL_USUARIO.USER_RUT" placeholder="RUT" class="form-control" autofocus />
                                            <span asp-validation-for="MODEL_USUARIO.USER_RUT" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="MODEL_USUARIO.USER_NOMBRE" placeholder="NOMBRE" class="form-control" />
                                            <span asp-validation-for="MODEL_USUARIO.USER_NOMBRE" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="MODEL_USUARIO.USER_APELLIDO" placeholder="APELLIDO" class="form-control" />
                                            <span asp-validation-for="MODEL_USUARIO.USER_APELLIDO" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="MODEL_USUARIO.USER_CELULAR" placeholder="CELULAR" class="form-control" />
                                            <span asp-validation-for="MODEL_USUARIO.USER_CELULAR" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="MODEL_USUARIO.USER_EMAIL" placeholder="EMAIL" class="form-control" />
                                            <span asp-validation-for="MODEL_USUARIO.USER_EMAIL" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="MODEL_USUARIO.USER_PASS" placeholder="CONTRASEÑA" class="form-control" />
                                            <span asp-validation-for="MODEL_USUARIO.USER_PASS" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                             @Html.DropDownList("MODEL_USUARIO.Role", new SelectList(Model.MODEL_USUARIO.rolesLista, "Text", "Text"), "Seleccione un Rol", new { @class = "form-control" });
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Registro</button>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-danger">@Html.DisplayFor(m => m.MODEL_USUARIO.ErrorMessage)  </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
